<div *ngIf="position">
    <div><span>Id: </span>{{position.id}}</div>
    <div><span>Exchange: </span>{{position.exchange.name}}</div>
    <div><span>Pair: </span>{{position.base.symbol}}/{{position.quote.symbol}}</div>
    <div><span>Opened at: </span>{{position.openedAt | date}}</div>
    <div><span>Closed at: </span>{{position.closedAt | date}}</div>
    <div><span>Open price: </span>{{position.openPrice}}</div>
    <div><span>Close price: </span>{{position.closePrice}}</div>
    <div><span>Current price: </span>{{position.currentPrice}}</div>
</div>
<button (click)="goBack()">go back</button>